

body {background:#222; padding:0; margin:0;}

#container {width:534px; position:relative; padding:0; margin:0 auto;}

#gallery {width:534px; position:relative; height:60px; padding-top:356px; margin:0 0 90px 0;}

#gallery img.left {width:55px; height:62px; background:#444; float:left;cursor:pointer;}
#gallery img.right {width:55px; height:62px; background:#444; float:left;cursor:pointer;}

#gallery ul {list-style:none; padding:0; margin:0; float:left; background:#444; border:2px solid #444; border-width:5px 2px;}
#gallery ul li {display:inline; width:50px; height:50px; float:left; margin:0 4px; border:1px solid #000; cursor:pointer;}

#gallery ul li.hide {display:none;}

#gallery ul li.th1 {background:url(thumbs/th1.jpg);}
#gallery ul li.th2 {background:url(thumbs/th2.jpg);}
#gallery ul li.th3 {background:url(thumbs/th3.jpg);}
#gallery ul li.th4 {background:url(thumbs/th4.jpg);}
#gallery ul li.th5 {background:url(thumbs/th5.jpg);}
#gallery ul li.th6 {background:url(thumbs/th6.jpg);}
#gallery ul li.th7 {background:url(thumbs/th7.jpg);}
#gallery ul li.th8 {background:url(thumbs/th8.jpg);}
#gallery ul li.th9 {background:url(thumbs/th9.jpg);}
#gallery ul li.th10 {background:url(thumbs/th10.jpg);}

#gallery ul li img {visibility:hidden; display:block; width:50px; height:50px;}

#gallery ul li span {display:none; position:absolute; left:61px; top:430px; width:411px;font-family:verdana, arial, sans-serif; color:#888; font-size:11px; line-height:15px; text-align:justify;}
#gallery ul li b {color:#999;}

.logo{position:relative;height:60px;width: 450px;padding : 0;margin: 0 auto; text-align:center;}

h1{ 
margin:0;padding:0;font:10px verdana, arial, helvetica, sans-serif;
}
.span { display:none;} 


#gallery ul li.chosen {border-color:#fff; cursor:default;}
#gallery ul li.chosen div {position:absolute; left:0; top:0; width:532px; height:355px; background:#444; border:1px solid #000; border-width:1px 1px 0 1px;}
#gallery ul li.chosen div i {width:530px; height:355px; display:table-cell; vertical-align:middle; text-align:center;} 
#gallery ul li.chosen div i img {visibility:visible; max-width:530px; max-height:355px; width:auto; height:auto; border:1px solid #aaa; margin:0 auto;}
#gallery ul li.chosen span {display:block;}
