body, html {
    padding: 0;
    height: 100%;
}

#footer {
    background-color: white;
    color: black;
    text-align: left;
    padding: 5px;
    clear: both;
}

#section {
    height: auto;
    overflow: auto;
}

#iframe_main {
    width: 100%;
    height: auto;
}
